<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.mattmc3.alfred.gists</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>07739458-61A8-4BFD-B55C-B5C282F14D93</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>59A04702-319A-435C-96F6-A833AC8D303F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>22F46E26-F23D-41FB-83B2-35527A83E01F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7AF1D228-61A2-4182-86E2-AB2F699F7DC5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3E446DF7-E808-499B-AD17-BEF0223C5324</key>
		<array/>
		<key>7AF1D228-61A2-4182-86E2-AB2F699F7DC5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DC23E293-798F-49FF-AC93-FF09C8A33EAB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7C4D9481-42FC-483D-A40B-730957B8D9FA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CFBF24B9-5E5A-4488-B57B-9B1006726C7F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>867BBE99-4AFE-416F-8A82-46B3C052F0E9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C6EDF8D3-DA5B-49A6-915F-80E88BC3C6DF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A03834D0-7453-4668-BF29-97838B635DFE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8C685289-DB7A-40F0-99D9-1FF75984CDB0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BE32AFB7-EEE9-4065-981F-B372F55E6F46</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7C4D9481-42FC-483D-A40B-730957B8D9FA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>C5048385-C81A-4128-B344-45AB1E00C0A2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C3C454A7-F72E-420E-B83E-4BBAB48F0808</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>867BBE99-4AFE-416F-8A82-46B3C052F0E9</string>
				<key>modifiers</key>
				<integer>131072</integer>
				<key>modifiersubtext</key>
				<string>Show large type</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>C6EDF8D3-DA5B-49A6-915F-80E88BC3C6DF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>3E446DF7-E808-499B-AD17-BEF0223C5324</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Open gist in browser</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>BE9394B8-F4F4-40C1-9E49-62345D515761</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string>Open raw text</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C5048385-C81A-4128-B344-45AB1E00C0A2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C9728294-9191-43E8-BC80-7568E89472EA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C6EDF8D3-DA5B-49A6-915F-80E88BC3C6DF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BE32AFB7-EEE9-4065-981F-B372F55E6F46</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C9728294-9191-43E8-BC80-7568E89472EA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>637988FB-3B0E-4435-944D-F527AF70DB6C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DC23E293-798F-49FF-AC93-FF09C8A33EAB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F5D646A7-CC35-4FD9-A4E1-F01B375BABD5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F5D646A7-CC35-4FD9-A4E1-F01B375BABD5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A03834D0-7453-4668-BF29-97838B635DFE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>mattmc3</string>
	<key>description</key>
	<string>Search and grab gists from github</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>GitHub Gists</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>largetypetext</key>
				<string>Query: {query}
-----------------
gistID: {var:gistID}
gistFileCount: {var:gistFileCount}
{var:gistFirstFileName}
{var:gistHtmlUrl}
{var:gistRawUrl}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.largetype</string>
			<key>uid</key>
			<string>CFBF24B9-5E5A-4488-B57B-9B1006726C7F</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{var:action}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>largeType</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>7C4D9481-42FC-483D-A40B-730957B8D9FA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>variables</key>
				<dict>
					<key>action</key>
					<string>largeType</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>867BBE99-4AFE-416F-8A82-46B3C052F0E9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>C9728294-9191-43E8-BC80-7568E89472EA</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>gist</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading gists</string>
				<key>script</key>
				<string>./alfred-gists list {query}
</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Grab one of your gists from GitHub</string>
				<key>title</key>
				<string>GitHub Gists</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>C3C454A7-F72E-420E-B83E-4BBAB48F0808</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Copied to clipboard {var:gistFirstFileName}</string>
				<key>title</key>
				<string>Copied to clipboard</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>637988FB-3B0E-4435-944D-F527AF70DB6C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>36</integer>
				<key>script</key>
				<string>curl "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>BE32AFB7-EEE9-4065-981F-B372F55E6F46</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{var:action}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string>largeType</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>C5048385-C81A-4128-B344-45AB1E00C0A2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{var:gistRawUrl}</string>
				<key>variables</key>
				<dict>
					<key></key>
					<string></string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>C6EDF8D3-DA5B-49A6-915F-80E88BC3C6DF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>3E446DF7-E808-499B-AD17-BEF0223C5324</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>BE9394B8-F4F4-40C1-9E49-62345D515761</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>fixedorder</key>
				<false/>
				<key>items</key>
				<string>[{"title":"user","arg":"user","subtitle":"The GitHub user"},{"title":"token","arg":"token","subtitle":"The GitHub gist token"}]</string>
				<key>keyword</key>
				<string>gist-config</string>
				<key>runningsubtext</key>
				<string></string>
				<key>subtext</key>
				<string>Configure Alfred Gist Workflow</string>
				<key>title</key>
				<string>gist-config</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.listfilter</string>
			<key>uid</key>
			<string>22F46E26-F23D-41FB-83B2-35527A83E01F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>subtext</key>
				<string>Provide the {var:configVarName} value</string>
				<key>text</key>
				<string>Enter value</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>DC23E293-798F-49FF-AC93-FF09C8A33EAB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>36</integer>
				<key>script</key>
				<string>./bin/alfred-gists config "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>A03834D0-7453-4668-BF29-97838B635DFE</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string>Value stored</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>8C685289-DB7A-40F0-99D9-1FF75984CDB0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{var:configVarName}|{query}</string>
				<key>variables</key>
				<dict>
					<key></key>
					<string></string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>F5D646A7-CC35-4FD9-A4E1-F01B375BABD5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>variables</key>
				<dict>
					<key>configVarName</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>7AF1D228-61A2-4182-86E2-AB2F699F7DC5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://gist.github.com</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>59A04702-319A-435C-96F6-A833AC8D303F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>gist-new</string>
				<key>subtext</key>
				<string>Create new GitHub gist</string>
				<key>text</key>
				<string>gist-new</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>07739458-61A8-4BFD-B55C-B5C282F14D93</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>This workflow provides an interface with GitHub gists allowing you to easily:
  - Copy your gist to the clipboard [default]
  - Show the contents of a gist
  - Browse to the gist URL
  - Browse to the raw text gist URL

This workflow utilizes the GitHub API and caches the gist list result for a period of 5 minutes to keep from hammering GitHub. If you create a new gist, the cache must be expired if you want a refresh prior to the timeout.

Source code available at: https://github.com/mattmc3/alfred-gists</string>
	<key>uidata</key>
	<dict>
		<key>07739458-61A8-4BFD-B55C-B5C282F14D93</key>
		<dict>
			<key>xpos</key>
			<integer>90</integer>
			<key>ypos</key>
			<integer>910</integer>
		</dict>
		<key>22F46E26-F23D-41FB-83B2-35527A83E01F</key>
		<dict>
			<key>xpos</key>
			<integer>90</integer>
			<key>ypos</key>
			<integer>780</integer>
		</dict>
		<key>3E446DF7-E808-499B-AD17-BEF0223C5324</key>
		<dict>
			<key>note</key>
			<string>Hold ALT to navigate to the selected gist in your web browser</string>
			<key>xpos</key>
			<integer>580</integer>
			<key>ypos</key>
			<integer>370</integer>
		</dict>
		<key>59A04702-319A-435C-96F6-A833AC8D303F</key>
		<dict>
			<key>note</key>
			<string>Navigate to gist.github.com to create a new gist</string>
			<key>xpos</key>
			<integer>440</integer>
			<key>ypos</key>
			<integer>910</integer>
		</dict>
		<key>637988FB-3B0E-4435-944D-F527AF70DB6C</key>
		<dict>
			<key>xpos</key>
			<integer>1080</integer>
			<key>ypos</key>
			<integer>190</integer>
		</dict>
		<key>7AF1D228-61A2-4182-86E2-AB2F699F7DC5</key>
		<dict>
			<key>xpos</key>
			<integer>270</integer>
			<key>ypos</key>
			<integer>810</integer>
		</dict>
		<key>7C4D9481-42FC-483D-A40B-730957B8D9FA</key>
		<dict>
			<key>xpos</key>
			<integer>800</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
		<key>867BBE99-4AFE-416F-8A82-46B3C052F0E9</key>
		<dict>
			<key>xpos</key>
			<integer>320</integer>
			<key>ypos</key>
			<integer>80</integer>
		</dict>
		<key>8C685289-DB7A-40F0-99D9-1FF75984CDB0</key>
		<dict>
			<key>xpos</key>
			<integer>990</integer>
			<key>ypos</key>
			<integer>780</integer>
		</dict>
		<key>A03834D0-7453-4668-BF29-97838B635DFE</key>
		<dict>
			<key>note</key>
			<string>Store the value provided</string>
			<key>xpos</key>
			<integer>750</integer>
			<key>ypos</key>
			<integer>780</integer>
		</dict>
		<key>BE32AFB7-EEE9-4065-981F-B372F55E6F46</key>
		<dict>
			<key>note</key>
			<string>Use curl to grab the gist text from GitHub</string>
			<key>xpos</key>
			<integer>580</integer>
			<key>ypos</key>
			<integer>190</integer>
		</dict>
		<key>BE9394B8-F4F4-40C1-9E49-62345D515761</key>
		<dict>
			<key>note</key>
			<string>Hold CTRL to navigate to the raw text of the selected gist in your web browser</string>
			<key>xpos</key>
			<integer>580</integer>
			<key>ypos</key>
			<integer>560</integer>
		</dict>
		<key>C3C454A7-F72E-420E-B83E-4BBAB48F0808</key>
		<dict>
			<key>xpos</key>
			<integer>90</integer>
			<key>ypos</key>
			<integer>190</integer>
		</dict>
		<key>C5048385-C81A-4128-B344-45AB1E00C0A2</key>
		<dict>
			<key>xpos</key>
			<integer>780</integer>
			<key>ypos</key>
			<integer>220</integer>
		</dict>
		<key>C6EDF8D3-DA5B-49A6-915F-80E88BC3C6DF</key>
		<dict>
			<key>xpos</key>
			<integer>460</integer>
			<key>ypos</key>
			<integer>220</integer>
		</dict>
		<key>C9728294-9191-43E8-BC80-7568E89472EA</key>
		<dict>
			<key>xpos</key>
			<integer>900</integer>
			<key>ypos</key>
			<integer>190</integer>
		</dict>
		<key>CFBF24B9-5E5A-4488-B57B-9B1006726C7F</key>
		<dict>
			<key>note</key>
			<string>Show the gist text to the user</string>
			<key>xpos</key>
			<integer>900</integer>
			<key>ypos</key>
			<integer>20</integer>
		</dict>
		<key>DC23E293-798F-49FF-AC93-FF09C8A33EAB</key>
		<dict>
			<key>xpos</key>
			<integer>440</integer>
			<key>ypos</key>
			<integer>780</integer>
		</dict>
		<key>F5D646A7-CC35-4FD9-A4E1-F01B375BABD5</key>
		<dict>
			<key>xpos</key>
			<integer>620</integer>
			<key>ypos</key>
			<integer>810</integer>
		</dict>
	</dict>
	<key>version</key>
	<string>0.1.5</string>
	<key>webaddress</key>
	<string>https://github.com/mattmc3/alfred-gists</string>
</dict>
</plist>
